# API Gateway Configuration
API_GATEWAY_PORT=:8080

# Alexandria Database
ALEXANDRIA_DSN=postgres://fortuna_dev:fortuna_dev_password@localhost:5435/alexandria?sslmode=disable

# CORS
CORS_ORIGIN=http://localhost:3000

# For Integration Tests
ALEXANDRIA_TEST_DSN=postgres://fortuna_dev:fortuna_dev_password@localhost:5435/alexandria_test?sslmode=disable

