# Redis Configuration
REDIS_URL=localhost:6380

# Normalizer Configuration
NORMALIZER_CONSUMER_ID=normalizer-1
NORMALIZER_GROUP_NAME=normalizers

# For Integration Tests
REDIS_TEST_URL=localhost:6380
REDIS_TEST_PASSWORD=reddis_pw

